.actors {
  height: 100%;
  width: 100%;
}
// One Tile Actors =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
.barbarian { @include oneTileActor('barbarian') }
.elf { @include oneTileActor('elf') }
.dwarf { @include oneTileActor('dwarf') }
.wizard { @include oneTileActor('wizard') }
.orc { @include oneTileActor('orc') }
.goblin { @include oneTileActor('goblin') }
.block { @include oneTileActor('block') }

// 2x1 Tiles Actors =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.doubleblock {
  @include oneTileActor('doubleblock');
  @include doubleW;
}

.door {
  @include oneTileActor('door');
  @include doubleW;

  &--90 {
    transform-origin: 17px 17px;
  }
}

// 2x2 Tiles Actors =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.stairway {
  @include oneTileActor('stairway');
  @include doubleH;
  @include doubleW;
}

// 2x3 Tiles Actors =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.table {
  @include oneTileActor('table');
  @include doubleH;
  @include tripleW;

  &--90 {
    transform-origin: 34px 34px;
  }
}
