.board {
  position: relative;
  width: 100%;
  max-width: 900px;

  > img {
    width: 100%;
  }

  .tiles_wrapper {
    bottom: 1.2%;
    box-sizing: border-box;
    position: absolute;
    left: .6%;
    top: .87%;
    right: .6%;
  }

  .draggable {
    position:absolute;
    // width: $tileW;
    // height: $tileH;
    z-index: 3;

    > img {
      width: 100%;
    }
  }

  // &.auto-play {
  //   .actor { transition: all .2s; }
  // }
}
