<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quest Manager</title>
  <link href="main.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
  <section id="PageContainer">
    <board></board>
    <!-- <config></config> -->
  </section>

  <script src="vendor.js"></script>
  <script src="vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
